{
  "presets": [
      ["@babel/preset-env",
       {
          "targets": {
            "node": "10"
          }
       }
       ],
      "@babel/preset-react"
  ],
  "env": {
      "production": {
          "plugins": ["@babel/plugin-proposal-object-rest-spread", "styled-jsx/babel"]
      },
      "development": {
          "plugins": ["@babel/plugin-proposal-object-rest-spread", "styled-jsx/babel"]
      },
      "test": {
          "plugins": ["@babel/plugin-proposal-object-rest-spread", "styled-jsx/babel-test"]
      }
  }
}
